html{
  
  background-color: #000000;
}

.up1{
    color: #fff;
}

.w-90{
  width: 90%;
  margin-top: 74px;
}
 
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: rgb(34, 30, 56);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgb(23, 160, 128), rgb(24, 81, 186), rgb(124, 56, 233), rgb(144, 69, 198), rgb(171, 72, 161));
  border-radius: 1rem;
  
  
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, rgb(8, 137, 107), rgb(13, 62, 155), rgb(86, 29, 177), rgb(103, 21, 161), rgb(154, 27, 141));
}
.im1{
  width:"100%";
  height: 70px;
}
 
 #f1:hover{
  filter: drop-shadow(0 0 0.3rem rgb(99, 10, 158));

 }
 .bi{
  border-color: #fff;
 }
 
 #b2:hover{
  cursor: pointer;
  filter: drop-shadow(0 0.1vw 0.4vw rgb(212, 144, 49));
 }
 #b3:hover{
  cursor: pointer;
  filter: drop-shadow(0 0.1vw 0.5vw rgb(232, 52, 136));
  
 }
 
  #b1:hover{
    transition: 200ms;
    background-color: rgb(181, 226, 237);
    filter: drop-shadow(0 0 0.3rem rgb(61, 85, 216));
   
  }
  .a1{
    background-color: #000000;
    color: #fff;
    font-size: 70px;
   
  }

  .a2{
    color: #fff;
    font-size: 95px;
  }
  .ce2{
    justify-content: center;
    text-justify: inter-cluster;
    margin-bottom: 1px;
    font-size: x-large;
  }
  p{
    font-size: 15px;
    color: #fff;
  }
  body {
    background-color:#000000;
      margin: 0;
      padding: 0;
    
    font-family: georgia, cambria ,sans-serif;
  }
  

   .glass-morph-nav { 
    background-color: rgba(255, 255, 255, 0.15);
    width: 87%;
   
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-right: 1vw;
    position: fixed;
    z-index: 1;
  } 
  
  .navbar-collapse {
    height: 150px;
  }

  
  .navbar-nav {
  
    margin-left: auto;
  }

  .nav-link {
    color: white;
  }

  .nav-link[aria-current="page"] {
    color: rgb(42, 234, 182) !important;
  }
  .nav-link:hover {
    color: rgb(121, 35, 218);
  }
   
 

@media only screen and (max-width: 770px) {

   .a1 {  
      font-size:7.5vw; 
   }
   .a2 {
      font-size: 8vw ;
   }
   
  main{
    font-size:2vw; 
  }
   }

   .navbar-collapse.show + * {
    margin-top: 20px; /* or any value you want */
    
  }

@media only screen and (max-width: 900px) {
   p{
    font-size: 2vw;
  }
  .ce2{
    font-size: 2vw;
    
   }
   }
@media only screen and (max-width: 600px) {

  body { 
     font-size:2vw; 
  }
  
  
  .ce2{
    font-weight: normal;
    
   }
  
}

@media only screen and (max-width: 440px) {

  
  .aboutSection{
    width : 100%;

  }
}


  header {
    background-color: #1d1d1d;
    color: #fff;
    padding:10px;
  }
  footer{
    margin-bottom: 0;
    position: absolute;
  }
  nav {
    height: 60px;
     
  }
 
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    
    display: inline-block;
    margin: 10px;
    
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav li a:hover {
    color: #126eb0;
  }
  .navbar-toggler-icon{  

  background-color: rgb(181, 201, 205);

  }

  :root
  {
      --background-color: #1E1E1E;
      --font-size:55px;
  }
  
  
  .frame{
  
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background-color);
  }
  
  .frame1{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
  .contact
  {
      width: 500px;
      height: 600px;
      background-color: #000000;
  }
  
  
  
  .fonts
  {
      font-size:55px;
      color: white;
  }
  
  
  .new-fonts
  {
      font-size: 100px;
      color: white;
  }

  .glow{
    background-color: #191919;
    color: white;
    transition: 0.6s;
}

.glow:hover{

    border: 1vw solid ;
    border-image-source:linear-gradient(45deg,rgb(104, 192, 210),rgb(96, 96, 255),rgb(113, 0, 114)) ;
    border-image-slice: 1;
}

.fonts
{
    font-size: 40px;
}

.magic{

    background-image: linear-gradient(45deg,#2d2d2d,#0f0e0e);
    color: white;

}


.foot{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #191919;

}

.magic p{
    opacity: 0;
}

.magic:hover > p
{
    transition: opacity 1.5s;
    opacity: 1;
}
